@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background: #F9F9FB;
}

.nav-link {
    color: black;
}

.news {
    background: #FF5480; border-radius: 10px;
    color: #fff;
}

.color-pink {
    color: #FF5480;
}

.background-1 {
    background-image: url(../assets/img/fondo-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-2 {
    background-image: url(../assets/img/fondo-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-white {
    background: url(../assets/img/white-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    width: 276px;
    height: 169px;
}

.background-white-2 {
    background: url(../assets/img/white-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    height: 358px;
}

.background-3 {
    background-image: url(../assets/img/fondo-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    width: 638px;
    height: 359px;
}

.normal {
    font-family: 'Opens Sans', sans-serif;
    font-style: normal;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.normal-big {
    font-family: 'Opens Sans', sans-serif;
    font-style: normal;
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
    line-height: 46px; 
    letter-spacing: -0.175px;
}
.grey {
    color: #9B9B9B;
    font-family: 'Opens Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.title-1 { 
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.225px;
}

.title-2 {
    font-family: 'Opens Sans', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
    line-height: 58px; 
    letter-spacing: -0.15px;
}

.white-background {
    background-color: #FFF;
}

.runing {
    background: url(../assets/img/runing.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    width: 638px;
    height: 359px;
}

.color-black {
    color: #000;
}

.bold {
    font-weight: 600;
}