@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Opens Sans', sans-serif;
    font-style: normal;
}
.nav-link {
    color: black;
}

.news {
    background: #FF5480; border-radius: 10px;
    color: #fff;
}

.color-pink {
    color: #FF5480;
}

div {
    border: 1px solid black;
}
.background-1 {
    background-image: url(../assets/img/fondo-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-2 {
    background-image: url(../assets/img/fondo-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-3 {
    background-image: url(../assets/img/fondo-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.standar {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.semistandar {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 46px; 
    letter-spacing: -0.175px;
}

.grey {
    color: #9B9B9B;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.title-1 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.225px;
}

.title-2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 58px; 
    letter-spacing: -0.15px;
}

